@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

/* WebKit */
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    width: 10px;
    /* width of the scrollbar */
}

/* Track */
*::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* color of the track */
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: #888;
    /* color of the thumb */
    border-radius: 5px;
    /* roundness of the thumb */
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* color of the thumb on hover */
}
